{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="index.css">
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  
  {% endcompress %}
</head>
<body>
        <!-- Start Landing Page -->
        

        <div class="landing-page">
          <header>
            <div class="container">
              <a href="#" class="logo">Car<b>Chain</b></a>
              <ul class="links">
                  <li><a href="">Home</a></li>
                  <li><a href="/fetchdata">Add Car</a></li>
                  <li><a href="/search">Search for a car</a></li>
                  <li><a href="/404">Info</a></li>
                  <li><a style="color: white"href="fetchdata.html">Get Started</a></li>
              </ul>
            </div>
          </header>
          <div class="content">
            <div class="container">
              <div class="info">
                <h1>Your Car History With Ninja</h1>
                <p>Welcome to CarTracker! Our platform helps you get your vehicles history with advanced blockchain tracking</p>
                <button onclick="location.href='/fetchdata';">Get Started</button>
              </div>
              <div class="image">
                <img src="https://i.postimg.cc/52YrJ98M/1-removebg-preview.png">
              </div>
            </div>
          </div>
        </div>
        <!-- End Landing Page -->
</body>
</html>