      <!-- Start Landing Page -->
      <link rel="stylesheet" type="text/css" href="index.css">

      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">Car<b>Tracker</b></a>
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="work.html">Work</a></li>
                <li><a href="info.html">Info</a></li>
                <li><a style="color: white"href="registeration.html">Get Started</a></li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Looking For Inspiration</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
              <button onclick="location.href='registeration.html';">Get Started</button>
            </div>
            <div class="image">
              <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
          </div>
        </div>
      </div>
      <!-- End Landing Page -->